$white: #ffffff;
$text: #292f37;
$lightest-grey: #edeeef;
$grey: #979ca9;
$middle-grey: #4c515c;
$dark-grey: #323a44;
$lightest-blue: #ebf1fd;
$link-blue: #7fa5e2;
$link-blue-hover: #4870b7;
$light-green: #8fc144;