@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
  font-family: 'Montserrat', 'Helvetica', sans-serif !important;
}
.book {
  &-header {
    display: none !important;
  }
  mark {
    background: transparentize(#8fc144, 0.7);
  }
  .logo {
    margin-top: -9px;
    flex-shrink: 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: calc(100% + 32px);
      top: 10px;
      height: 37px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  .header-inner {
    border-bottom: 1px solid #dededede;
    margin:auto;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    background-color: #323a44;

    .logo img {
      max-height: 44px !important;
    }
  }


  .header-nav {
    list-style:none;
    padding-left: 64px;
    display: flex;
    align-items: center;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &-wrapper {
      position: relative;
      overflow: hidden;

      &:after {
        top: 0;
        right: 0;
        width: 32px;
        height: 100%;
        content: " ";
        position: absolute;
        background: linear-gradient(to right, rgba(36, 42, 49, 0) 0%, #323a44 100%);
        pointer-events: none;
      }
    }

    li {
      padding-right: 46px;

      a {
        white-space: nowrap;
        font-size: 14px;
        line-height: 1.29;
        color: #ffffff;
        outline:none;

        &:hover, &.active {
          color: #7fa5e2 !important;
        }

        &.active {
          &:hover {
            color: #7fa5e2 !important;
          }
        }
      }
    }

    &-back {
      margin-left: auto;
      margin-right: 47px;
      color: #ffffff;
      display: inline-block;

      svg {
        vertical-align: middle;
        margin-right: 2px;
      }
    }

    &-back, .header-hav-back-link {
        white-space: nowrap;
        font-size: 14px;
        line-height: 1.29;
        color: transparentize(#ffffff, 0.3);

        &:hover, &.active {
          color: #7fa5e2 !important;
          svg {
            g {
              g {
                fill: #7fa5e2 !important;
              }
            }
          }
        }

        &.active {
          &:hover {
            color: transparentize(#ffffff, 0.3) !important;
          }
        }
    }
  }


  #book-search-input {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    font-size: 14px;
    margin: 0;
    padding-left: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;

    input {
      font-size: 14px;
      color: #ffffff !important;
      padding-left: 2px;

      &::placeholder {
        color: #ffffff !important;
      }
    }

    button {
      padding: 0;
      padding-right: 6px;
      appearance: none;
      display: inline-block;
      border: none;
      margin: 0;
      text-decoration: none;
      background: transparent;
      color: #ffffff;
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
    }
  }


  .book-summary, .book-body {
    top: 70px;
  }

  //book-body

  &-body {
    .body-inner {
      padding-top: 48px;
    }
    .markdown-section {
      h1 {
        font-size: 44px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #292f37;
        padding-bottom: 40px;
        border-bottom: 2px solid rgb(230, 236, 241);
        margin-bottom: 32px;
      }

      img {
        margin: 32px auto;
        display: block;
        padding: 0;
        max-width: 100%;
        background:#e4e4e478;
        box-sizing:border-box;
      }
    }

    .page-inner {
      max-width: 750px;
      margin: 0;
      padding: 0;
    }
  }


  //book summary
  &-summary {
    padding-top: 32px;
    background-color: #ffffff;
    width: 280px;
    padding-left: 20px;
    border: none;

    nav {
      padding: 0;

      ul.summary {
        li {
          padding: 0;

          a {
            text-decoration: none !important;
          }

          &.header {
            padding: 25px 19px 11px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: normal;
            text-transform: uppercase;
            color: #4c515c;
          }
          &.chapter {
            border-radius: 4px !important;
            &[data-level="1.1"] {
              display: none;
            }

            a, span {
              padding: 5px 20px 7px;
              color: #4c515c;
              font-size: 13px;
              background-color: transparent;
              border: none;
            }

            &.active {
                background-color: #ebf1fd !important;
            }

            &:hover {
              background-color: #edeeef !important;
            }
          }
        }
      }
    }
  }

  .pages-navigation {
    margin-top: 48px;
    margin-bottom: 100px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 100%;
    width: 100%;
    max-width: 750px;

    .navigation {
      float: none;
      justify-content: initial;
      align-content: initial;
      align-items: center;
      max-width: 50%;
      width: auto;
      min-width: auto;
      position: static;
      font-size: 16px;
      line-height: 1.63;
      flex-wrap: wrap;
      flex-direction: row;

      a {
        &:hover {
          color: #7fa5e2;

          svg {
            g {
              g {
                fill: #7fa5e2;
              }
            }
          }
        }

      }


      a {
        color: #4870b7;
      }

      svg {
        g {
          g {
            fill: #4870b7;
          }
        }
      }

      &-unique {
        width: 100%;
        max-width: 100%;
      }

      &-next {
        text-align: right;
        justify-content: flex-end;

        .navigation-topic {
          padding-right: 40px;
        }

        svg {
          margin-left: 11px;
        }
      }

      &-prev {
        text-align: left;
        justify-content: flex-start;

        .navigation-topic {
          padding-left: 40px;
        }

        svg {
          margin-right: 11px;
        }
      }

      &-topic {
        font-size: 13px;
        width: 100%;
        color: #979ca9;
      }
    }
  }
}


@media screen and (min-width: 600px) {
  .book.with-summary .book-body {
    left: 280px;
    margin-left: 80px;
  }
}


#book-search-results .search-results .has-results .search-results-item a {
  color: #292f37;
}


#book-search-results span.search-highlight-keyword {
  background: transparentize(#8fc144, 0.7);
}